/*
 Theme Name:   King's Schools Subsite Theme
 Description:  King's Schools Subsite Theme based on Suki
 Author:       Elwin Managbanag
 Template:     suki
 GitLab Theme URI: https://gitlab.com/crista/kings-schools-professional-directory-wp-theme
 Version:      1.0.3
*/
#main .wpbdp-listing .listing-title {
  border: none;
}
#main .wpbdp-listing .listing-title h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 40px;
  color: #000;
}
#main .wpbdp-listing .listing-title a {
  color: #ab2024;
  border: none;
}
#main .wpbdp-listing .listing-details {
  margin-left: 5px;
}
@media (min-width: 600px) {
  #main .wpbdp-listing .listing-details {
    margin-left: 180px;
  }
}
#main .wpbdp-listing .listing-details a {
  color: #ab2024;
}
#main .wpbdp-listing .listing-thumbnail {
  padding: 20px 20px 20px 5px;
}
@media (min-width: 600px) {
  #main .wpbdp-listing .listing-thumbnail {
    padding: 0 20px 20px 0;
  }
}
#main .wpbdp-listing-excerpt {
  border: none;
  border-radius: 5px;
  padding: 20px 10px;
}
#main .wpbdp-listing-excerpt.odd {
  background: #f4f4f4;
}
#main .listing-actions,
#main .wpbdp-msg.tip,
#main .wpbdp-plan-selection {
  display: none;
}

#secondary .widget ul {
  padding-left: 0;
}
#secondary .widget ul li {
  list-style: none;
  border-bottom: 1px dotted #eee;
  margin: 0;
  padding: 2px 0;
}
#secondary .widget ul li a {
  font-weight: bold;
}

.logged-in #main .wpbdp-listing .listing-actions {
  display: block;
}

/*# sourceMappingURL=style.css.map */
