/*
 Theme Name:   King's Schools Subsite Theme
 Description:  King's Schools Subsite Theme based on Suki
 Author:       Elwin Managbanag
 Template:     suki
 GitLab Theme URI: https://gitlab.com/crista/kings-schools-professional-directory-wp-theme
 Version:      1.0.2
*/

$color-primary: #ab2024;
$color-primary-active: #8c1216;
$color-secondary: #ceb179;
$color-light-gray: #f4f4f4;

#main {
    .wpbdp-listing {

        .listing-title {
            border: none;

            h2 {
                font-family: 'Merriweather', sans-serif;
                font-size: 40px;
                color: #000;
            }

            a {
                color: $color-primary;
                border: none;
            }
        }

        .listing-details {
            margin-left: 5px;

            @media (min-width: 600px) {
                margin-left: 180px;
            }
            
            a {
                color: $color-primary;
            }
        }

        .listing-thumbnail {
            padding: 20px 20px 20px 5px;

            @media (min-width: 600px) {
                padding: 0 20px 20px 0;
            }
        }
    }

    .wpbdp-listing-excerpt {
        border: none;
        border-radius: 5px;
        padding: 20px 10px;

        &.odd {
            background: $color-light-gray;
        }
    }

    .listing-actions,
    .wpbdp-msg.tip,
    .wpbdp-plan-selection {
        display: none;
    }
    
}

#secondary {
    .widget {
        ul {
            padding-left: 0;

            li {
                list-style: none;
                border-bottom: 1px dotted #eee;
                margin: 0;
                padding: 2px 0;

                a {
                    font-weight: bold;
                }
            }
        }
    }
}


.logged-in #main .wpbdp-listing .listing-actions {
    display: block;
}